/* ===================================  global  =========================== */
html {
    font-size: 16px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size  : 16px;
    font-weight: 400;
    color      : white;
    min-width  : 320px;
}

img {
    max-width: 100%;
    height   : auto;
}

a {
    text-decoration: none;
    color          : white;
}

a:hover {
    color: rgb(58, 212, 148);
}

/* ================================  header top  ===================================== */
.header {
    background-image: url(images/bg.jpg);
    background-size : cover;
    height          : 100vh;
}

.logo a {
    font-size     : 1.125em;
    font-weight   : 500;
    text-transform: uppercase;
}

.logo a:hover {
    color: white;
}

.logo btn {
    color: white;
}

/*.navbar-nav .nav-item .nav-link {
    color      : white;
    font-size  : 0.938em;
    font-weight: 500;
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(58, 212, 148);
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar-nav {
    font-size     : 0.938em;
    font-weight   : 600;
    right         : -1em;
    text-transform: uppercase;
}

.navbar-nav .dot {
    width           : 3px;
    height          : 3px;
    border-radius   : 50%;
    background-color: #B0ACAC;
}*/

.phone a {
    border        : 2px solid rgb(58, 212, 148);
    border-radius : 3px;
    color         : white;
    font-size     : 0.938em;
    font-weight   : 500;
    margin-right  : 1rem;
    padding       : 0.5rem 1rem;
    text-transform: uppercase;
}

.phone a:hover {
    background-color: rgb(58, 212, 148);
}

.phone span {
    font-size  : 1em;
    font-weight: 700;
    margin-top : .5rem;
}

/* ================================  media  ================================================= */
@media (min-width: 320px) {
    .navbar-brand span {
        position: absolute;
        top     : -100rem;
    }
}

@media (max-width: 425px) {
    .navbar-brand {
        order: 0;
    }

    .navbar-toogler {
        order: 2;
    }

    .phone {
        order: 1;
    }
}

@media (min-width: 426px) {}

@media (min-width: 1124px) {
    .navbar-brand span {
        position: relative;
        top     : 0rem;
    }
}