/* ===================================  global  =========================== */
html {
    font-size: 16px;
}

body {
    background-image: url(images/bg.jpg);
    font-family     : 'Ubuntu', sans-serif;
    font-size       : 16px;
    font-weight     : 400;
    color           : white;
    min-width       : 320px;
}

img {
    max-width: 100%;
    height   : auto;
}

section {
    padding: 50px 0;
}

a {
    text-decoration: none;
}