/* ===================================  global  =========================== */
html {
    font-size: 16px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size  : 16px;
    font-weight: 400;
    color      : white;
    min-width  : 320px;
}

img {
    max-width: 100%;
    height   : auto;
}

a {
    text-decoration: none;
    color          : white;
}

a:hover {
    color: rgb(58, 212, 148);
}

/* ================================  top  ===================================== */
.header {
    background-image: url(images/bg.jpg);
    background-size : cover;
    display         : grid;
    grid-area       :
        "top"
        "content"
        "bottom";
    grid-template-columns: 1fr;
    grid-template-rows   : 5rem 1fr 3rem;
    height               : 100vh;
}

.top {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.logo a {
    font-size     : 1.125em;
    font-weight   : 500;
    text-transform: uppercase;
}

.logo a:hover {
    color: white;
}

.logo btn {
    color: white;
}

/* =======================================  top menu  ========================================= */
.navbar-nav .nav-item .nav-link {
    color         : white;
    font-size     : 1.2rem;
    font-weight   : lighter;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar-nav .dot {
    width           : 3px;
    height          : 3px;
    border-radius   : 50%;
    background-color: #B0ACAC;
    margin-top      : 1.3rem;
}

.navbar-nav li a::after {
    content         : '';
    display         : block;
    width           : 100%;
    background-color: white;
    height          : 2px;
    transition      : all .3s;
    transform       : scale(0);
}

.navbar-nav li a:hover::after {
    transform: scale(1);
}

.phone a {
    border        : 2px solid rgb(58, 212, 148);
    border-radius : 3px;
    color         : white;
    font-size     : 0.938em;
    font-weight   : 500;
    margin-right  : 1rem;
    padding       : 0.5rem 1rem;
    text-transform: uppercase;
}

.phone a:hover {
    background-color: rgb(58, 212, 148);
}

.phone span {
    font-size  : 1em;
    font-weight: 700;
    margin-top : .5rem;
}

/* ===================================  content  ================================ */
.content {
    line-height    : .5em;
    display        : flex;
    flex-direction : column;
    justify-content: start;
}

.content h1 {
    font-size  : 5rem;
    font-weight: 200;
}

.content p {
    font-size: 1.2rem;
}

.content .btn-link {
    color          : white;
    text-decoration: none;
}

.content .order,
.content .video {
    text-transform: uppercase;
}

.content .order {
    border: 3px solid rgb(58, 212, 148);
}

.content .order:hover {
    color           : white;
    border-color    : rgb(58, 212, 148);
    background-color: rgb(58, 212, 148);
}

.content .video {
    border: 2px solid white;
}

.content .video:hover {
    background-color: rgb(58, 212, 148);
    border-color    : rgb(58, 212, 148);
}

/* ===================================  bottom  ================================== */
.bottom {
    display              : grid;
    grid-template-columns: 1fr 1fr;
}

.fa-facebook-f,
.fa-vk {
    font-size: 1.5rem;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-vk:hover {
    color: #4c75a3;
}

.bottom .scroll {
    color: gray;
}

.arrow-scroll-bottom {
    cursor                   : pointer;
    animation-name           : animateArrow;
    animation-duration       : 1s;
    animation-iteration-count: infinite;
}

/* =================================  animation for arrow  ========================== */
@keyframes animateArrow {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* ================================  media  ================================================= */
@media (min-width: 320px) {
    .navbar-brand span {
        position: absolute;
        top     : -100rem;
    }
}

@media (max-width: 425px) {
    .navbar-brand {
        order: 0;
    }

    .navbar-toogler {
        order: 2;
    }

    .phone {
        order: 1;
    }
}

@media (min-width: 426px) {}

@media (min-width: 1124px) {
    .navbar-brand span {
        position: relative;
        top     : 0rem;
    }
}